
body{
font-family: 'EB Garamond', serif;
  font-size: 100%;
  line-height: 1.2;
}
h1{
  font-size: 150%;
  margin:50px auto 0 auto;
color:#000080;
  font-family: 'Cormorant Garamond', serif;
text-align: center;


}
.text_Obj{
font-size: 200%;
}


.objective{
  float: left;
  width:50px;
  margin-right: 0.5%;


}
.cto{
  margin-left: 20px;
}

.container_keyQual{

  position: absolute;
}

h2{
  font-family: 'Cormorant Garamond', serif;


font-style:  normal;
margin-bottom : 0;
margin-top:0;


}
h3{


color:#808080;
margin-bottom : 0;
margin-top:0;


}

.emailAndLocation{
  font-size: 95%;
  font-weight: normal;
  font-style:  normal;
  text-align: center;
margin: 0;
color:#000080;


}
.location{
  font-style:  normal;
  text-align: center;
  margin: 0;

}
p{
  font-family: 'EB Garamond', serif;
  margin-left: 60px;

}
